.root{
    -fx-background-color: #2E3440;
    -fx-font-family: "Courier New";
}

#timeLabel{
    -fx-text-fill: #D8DEE9;
    -fx-font-size: 18;
}

#btnInizia{
    -fx-background-color: #5E81AC;
    -fx-text-fill: #D8DEE9;
    -fx-font-size: 16;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}