.root{
    -fx-background-color: "#2F4F4F";
    -fx-font-family: "Courier New";
}


.button{
    -fx-background-color: #5E81AC;
    -fx-text-fill: #D8DEE9;
    -fx-font-size: 16;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.label{
    -fx-text-fill: #D8DEE9;
    -fx-font-size: 16;
}

.titoli{
    -fx-text-fill: #D8DEE9;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#timeLabel{
    -fx-font-size: 18;
}

#paneClienti{
    -fx-background-color: #1F3F3F;
    -fx-background-radius: 15;
}

#panAggPrenotazione{
    -fx-background-color: #1F3F3F;
    -fx-background-radius: 15;
}